.logout {
    padding-top: 100px;
}

.menu li {
    margin-top: 30px;
}

.menu li span {
    margin-left: 15px;
    font-size: 18px;
    color: white;
}

.brightness {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.5);
}

.brightness:hover {
    -webkit-filter: brightness(1);
    filter: brightness(0.5);
}