<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}">
</head>
<body>

<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Aula inteligente</a>
            </li>
            <div class="menu">
                <li class="brightness">
                    <a href="{% url 'home:index' %}"><img src="{% static 'img/homealt.png' %}"><span>Dashboard</span></a>
                </li>
                <li class="brightness">
                    <a href="{% url 'usuarios:index' %}"><img src="{% static 'img/usersalt.png' %}"><span>Usuarios</span></a>
                </li>
                <li class="brightness">
                    <a href="{% url 'identificacion:index' %}"><img src="{% static 'img/signsalt.png' %}"><span>Identificación</span></a>
                </li>
                <li class="brightness">
                    <a href="{% url 'musica:index' %}"><img src="{% static 'img/musicalt.png' %}"><span>Música</span></a>
                </li>
                <li class="brightness">
                    <a href="{% url 'imagenes:index' %}"><img src="{% static 'img/imagesalt.png' %}"><span>Imágenes</span></a>
                </li>
                <li class="logout brightness">
                    <a href="/"><img src="{% static 'img/logoutalt.png' %}"><span>Logout</span></a>
                </li>
            </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 notes">
                    ???
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    resizeNotes();
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(window).resize(function() {
        resizeNotes();
    });

    function resizeNotes() {
        var width = $(window).width();
        console.log(width);
        $('.notes').width(width-225);
    }

</script>

</body>
</body>
</html>
