{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <style>
    .edit-id {
      text-align: center;
      cursor: pointer;
    }
    #myModal{
      position: absolute;
      right: 10%;
    {#            margin-left: -312px;#}
      height: 500px;
      top: 60%;
      margin-top: -250px;
    }
  </style>
  <h1 class="title">Identificación</h1>
  <div class="row">
    <div class="col-md-5 left">
      <div class="row"><h2>Lista de usuarios</h2></div>
      <div class="row">
        <table>
          <tbody>
          <tr>
            <th>Usuario</th>
            <th>Llaves</th>
            <th>Editar</th>
          </tr>
          {% for user in users %}
            <tr>
              <td>{{ user.name }} {{ user.last_names }}</td>
              <td>
                {% if user.identify_set.all %}
                  <ul>
                    {% for id in user.identify_set.all %}
                      <li>{{ id.type }}: {{ id.string }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  No hay llaves asignadas
                {% endif %}
              </td>
              <td><img id="{{ user.id }}" class="edit-id" src="{% static 'img/edit.png' %}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-6 right">
      <div class="row"><h2>Modificaciones</h2></div>
      <div class="row">
        <div class="col-md-4">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div id="edit-id-content">

          </div>
          <button type="submit" class=" edit-id btn" onclick="send()">Guardar</button>
        </div>
      </div>

    </div>
  </div>
  <button class="btn">TEST</button>
  <script>
    $('img').click(function () {
      $('#edit-id-content').html('');

      var data = {userId: this.id};
      $('#myModal').modal('show');
      $.get("/identificacion/identificar/", data, function (data) {
        console.log('???');
        console.log(data);

        for (var i = 0; i < data.length; i++){

          var row = document.createElement('div');
          var colInput = document.createElement('div');
          var colButton = document.createElement('div');
          var input = document.createElement('input');
          var delButton = document.createElement('button');

          row.className = 'row';
          colInput.className = 'col-md-6';
          colButton.className = 'col-md-5';
          input.className = 'form-control id-edit-data';
          input.type = 'text';
          delButton.className = 'btn btn-danger pull-right deleteId';
          delButton.innerHTML = 'Borrar';
          delButton.name = data[i]['id'];

          colInput.appendChild(input);
          colButton.appendChild(delButton);
          row.appendChild(colInput);
          row.appendChild(colButton);
          input.name = data[i]['id'];
          input.value = data[i]['string'];

          $('#edit-id-content').append(row);

        }
        $('.deleteId').click(function(){
          data = {id: this.name};
          $.post("/identificacion/borrar/", data, function (data) {
            console.log('success');
          });


        });
      });
    });

    function send() {
      console.log('Send');
      var cards = [];
      $('.id-edit-data').each(function (index)  {
        console.log(this.value);
        console.log(this.name);
        cards.push({string: this.value, id: this.name});
      });


      data =  {cards: JSON.stringify(cards)};
      $.post("/identificacion/editar/", data, function (data) {
        console.log('success');
        location.reload();
      });

    }

  </script>
{% endblock %}
